services:
  backend:
    build:
      context: ./backend
      network: host
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      network: host
    environment:
      BACKEND_HOSTNAME: backend
      VITE_PUBLIC_PATH: /
      VITE_HOST: 0.0.0.0
      VITE_PORT: 5173
    volumes:
      - ./frontend/dist:/app/frontend/dist
    depends_on:
      - backend

  redis:
    image: redis:latest
    container_name: redis_container
    volumes:
      - ./redisdata:/data
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

